extends ../layout 
block content 
  h1 Update Grade 
  form(action=`/grade/update/${g.id}`, method='post')
    input(type='hidden', name='id', value=g.id)
    div 
      label(for='gradeid') ID:
      br
      input#id(type='text' name='gradeID' value=g.gradeID)
    div 
      label(for='name') Tên Khối:
      br
      input#name(type='text' name='name' value=g.name)
    //- div 
    //-   label(for='math') Số buổi Toán:
    //-   br
    //-   input#math(type="text" name='math' value=g.math)
    //- div 
    //-   label(for='english') Số buổi Anh Văn:
    //-   br
    //-   input#english(type="text" name='english' value=g.english)
    //-   div 
    //-   label(for='literature') Số buổi Ngữ Văn:
    //-   br
    //-   input#literature(type="text" name='literature' value=g.literature)
    //-   div 
    //-   label(for='science') Số buổi Khoa Học:
    //-   br
    //-   input#science(type="text" name='science' value=g.science)
    div 
      input(type="submit", value='Cập Nhật Khối')
